div{
    height:200px;
    width:200px;
    background-color: lightseagreen;
    animation-name:Deepu;
    animation-duration:4s;
    animation-delay:1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:4;
    animation-direction:alternate;
}
@keyframes Deepu{
    
    0%{
        border-radius:0 0 0 0;
        background-color:lightpink;
    }
    25%{
        border-radius:50% 0 0 0;
        background-color: lightgreen;
    }
    50%{
        border-radius:50% 50% 0 0;
        background-color: lightcoral;
    }
    75%{
        border-radius:50% 50% 50% 0;
        background-color: lightskyblue;
    }
    100%{
        border-radius:50% 50% 50% 50%;
        background-color: lightgreen;
    }
}