@media screen and (max-width: 450px){
    img{
        width: 400px;
    }
}
@media screen and (min-width:451px) and (max-width:768px){
    img{
        width: 700px;
        border-radius: 50px;
        background-color: brown;
        padding: 20px;
        box-shadow: 3px 4px 5px black;

    }
}
img:hover{
    transition: all ease-in 4s 2s;
    opacity: 0.32;
    width: 50%;
}